body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff;
    padding: 10px 270px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo  {

    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}
nav .logo a {
    text-decoration: none;
    color: #000
   }


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: regulr;
    padding: 20px 40px;
}

.portfolio {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.portfolio h2 {
    text-align: center;
    margin-top: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
}
.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.overlay p {
    margin: 0;
    font-size: 18px;
}
