
/* Custom styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Background color similar to the example site */
}

.navbar {
    background-color: #ffffff; /* Navbar background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Navbar shadow */
}

.navbar-brand {
    font-size: 1.5rem; /* Adjust logo size */
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Adjust spacing between nav items */
}

.navbar-nav .nav-link {
    color: #343a40; /* Navbar link color */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Navbar link hover color */
}

.navbar-toggler-icon {
    color: #007bff; /* Toggle button color */
}

@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 10px; /* Adjust mobile navbar top margin */
    }
    
}

.intro1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify; /* Justify text */
    text-align-last: left; /* Align the last line to the left */
}

.intro-text1 {
    max-width: 70%;
    padding: 3%;
    
}

.intro-text1 h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}

.intro-text1 .highlight {
    font: serif;
    color: #ffbf00;
    display: inline-block;
    animation: colorChange 5s infinite;
}

.intro-text1 p {
    font-size: 1em;
    line-height: 1.5;
}



.intro-image1 img {
    max-width: 100%;
    border-radius: 10px;
}








.intro2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
 
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify; /* Justify text */
    text-align-last: left; /* Align the last line to the left */
}




.intro-text2 {
    max-width: 70%;
    padding: 3%;
    
}


.intro-text2 p {
    font-size: 1em;
    line-height: 1.5;
}

.intro-image2 img {
    
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}


/*  3 start */

.intro3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 2200px;
    margin: 0 auto;
    text-align: justify; /* Justify text */
    text-align-last: left; /* Align the last line to the left */
}

.intro-text3 {
    max-width: 90%;
}





.intro-text3 p {
    font-size: 1em;
    line-height: 1.5;
}

/*  3 end */


footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    main .intro1 {
        display: flex;
        flex-direction: column;
    }
}

/* Default for larger screens */
@media (min-width: 769px) {
    main .intro1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}

   

/* Media query for mobile devices */
@media (max-width: 768px) {
    main .intro2 {
        display: flex;
        flex-direction: column;
    }
}

/* Default for larger screens */
@media (min-width: 769px) {
    main .intro2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    main .intro2 {
        flex: 1;
        margin-right: 20px;
    }

    
}







